<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo-home">{{usuario.nivel}}: {{usuario.nome}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button *ngIf="usuario.nivel == 'Adm'" color="primary">Admin</ion-button>
  <ion-button *ngIf="usuario.nivel == 'Dev'" color="danger">Developer</ion-button>
</ion-content>
